<!DOCTYPE html>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Audit Sampling Tool Kit</title>
</head>

<nav>
    <div class="nav-wrapper indigo darken-4">
      <a href="#" class="brand-logo right">Audit Sampling Tool Kit</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
</nav>

<br>
<br>
    <div class="container">
    <p style="font-family: Arial">Welcome to the sampling tool built for auditors. This site is currently in
        development and we have many more modules in development to add to the programs suite of capabilities. We need
        your help in making this as user-friendly as possible. If you have any issues or recommendations, please email
        auditsamplinghelp@gmail.com so that we can address any concerns or ideas you may have!
    </p>
    </div>
<div class="center-align">
<a href="/simple_sampling/" class="waves-effect waves-light btn-large">Simple Sampling</a>
</div>
<body>



</body>
</html>